<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhoujian.mvpprojectdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.zhoujian.mvpprojectdemo.MvpProjectApplication">

        <activity android:name=".activity.MainActivity"/>

    </application>

</manifest>